.intro p {
  font-family: 'HelveticaNeue';
  color: #525252;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input,
.message {
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
}
.size {
  padding: 15px 30px 15px 15px;
  width: 35%;
}
.message {
  padding-bottom: 12rem;
  padding-top: 1rem;
  padding-left: 15px;
  width: 65%;
}
.form-btn {
  padding: 0;
  border: none;
  background-color: #fff;
  margin-top: 15px;
  width: 100px;
  color: #474747;
  font-size: 22px;
}
.form-btn img {
  width: 25%;
}

@media (min-width: 2560px) {
  input,
  textarea::-webkit-input-placeholder {
    font-size: 25px;
  }
  .message {
    font-size: 25px;
  }
  .intro p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .size {
    width: 50%;
  }
  .message {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .size {
    width: 80%;
  }
  .form-btn {
    font-size: 20px;
  }
}