@import url('aboutStyle.css');
@import url('projectsStyle.css');
@import url('postStyle.css');
@import url('contact_style.css');

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot');
  src: local('☺'), url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeue-Medium.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Bebas Neue';
  background: url('../img/Background.png');
}
.container {
  width: 80%;
  /* max-width: 960px; */
  margin: auto;
}
.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 45px;
}
.header-links {
  display: flex;
}
.header-items {
  margin-left: 40px;
}
.header-items p {
  margin: 0;
  font-size: 20px;
  color: #a5a5a5;
}
.header-items a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
/* menu-hamburger */
.hamburger {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.m-menu {
  right: 0;
  margin-top: 20px;
}
.m-menu,
.m-menu::after,
.m-menu::before {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #a5a5a5;
  cursor: pointer;
  z-index: 999;
}
.m-menu::after,
.m-menu::before {
  content: '';
}
.m-menu::after {
  transform: translateY(7px);
  transition: transform .3s;
}
.m-menu::before {
  transform: translateY(-7px);
  transition: transform .3s;
}
.m-nav {
  display: flex;
  justify-content: center;
}
 .m-menu-active {
   height: 0;
 }

 .m-menu-active:before {
   transform: rotate(45deg);
   margin-top: 0;
 }

 .m-menu-active:after {
   transform: rotate(-45deg);
   margin-top: 0;
 }
 .m-overay {
   width: 160px;
   background-color:gray;
   position: absolute;
   right: 0px;
 }
 .m-links__active {
   display: block !important;
 }
 .m-links__active p{
   color: #000;;
 }
.slider {
  background-color: #f6f6f6;
}
.slider-item {
  width: 100%;
  display: none;
  list-style-type: none;
}
.open {
  display: block;
  margin: auto;
}
.slider-item img {
  width: 100%;
}
.slider-content {
  position: relative;
  padding: 0;
  margin: 0;
}
.item-text {
  position: absolute;
  margin-left: 2px;
  margin-top: -63px;
  width: 220px;
  background-color: #404040;
}
.item-text span {
  margin-left: 10px;
  font-size: 14px;
  color: #9a9a9a;
}
.item-text p {
  margin: 0;
  margin-left: 10px;
  font-size: 28px;
  color: #fff;
}
.slider-dash {
  position: absolute;
  display: flex;
  right: 30px;
  bottom: 20px;
}
.dash {
  width: 25px;
  height: 3px;
  margin-left: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.active {
  background-color: #444444;
}
.slide-description {
  display: none;
}
.description-active {
  display: block;
}
.slider-description_title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #474747;
  font-size: 20px;
}
.slider-description_text {
  color: #474747;
  font-size: 14px;
  font-family: 'HelveticaNeue';
}
.featured-section, .section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.featured-block,
.project-block:first-child {
  margin-left: 0;
}
.featured-block, .project-block {
  flex-basis: 33%;
  margin-left: 30px;
}
.project-header p {
  margin: 0;
  margin-left: 30px;
  display: inline-block;
  font-size: 20px;
  color: #464646;
}
.project-content p {
  font-family: 'HelveticaNeue';
  font-size: 14px;
  color: #717171;
}
.categories {
  margin-top: 0;
}
.project-footer img {
  height: 15px;
}
.project-footer a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
  margin-left: 10px;
}
.current-title, .footer-line {
  background: url('../img/CurentTitleBackground.png') no-repeat 100%;
  width: 100%;
  height: 30px;
  text-align: center;
  align-items: center;
  margin-top: 80px;
}
.current-title h3 {
  font-size: 18px;
  color: #474747;
}
.current-project-title {
  color: #414141;
  font-size: 17px;
  margin-bottom: 0;
}
.project-img {
  width: 100%;
}
.footer {
  background:#f6f6f6;
  padding-bottom: 10px;
}
.copyright {
  color: #acacac;
  margin: 0;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.developer {
  color: #acacac;
  margin: 0;
}
.developer span {
  color: #2b2a2a;
}
/* адаптив */
@media (min-width: 2560px){
  .project-content p {
    font-size: 30px;
  }
  .project-footer a {
    font-size: 30px;
  }
  .project-footer img {
    width: 45px;
  }
  .header-items p {
    font-size: 40px;
  }
  .header-items a {
    font-size: 40px;
  }
  .header {
    margin-bottom: 70px;
  }
  .header img {
    height: 100px;
  }
  .blog {
    margin-top: 105px;
  }
  .item-text {
    height: 200px;
    width: 600px;
    margin-top: -207px;
  }
  .item-text span {
    font-size: 65px;
  }
  .item-text p {
    font-size: 60px;
  }
  .slider-description_title {
    font-size: 40px;
  }
  .slider-description_text {
    font-size: 30px;
  }
  .project-icon{
    height: 80px;
  }
  .project-header p {
    font-size: 35px;
  }
  .featured-section {
    margin-top: 100px;
  }
  .current-title {
    height: 50px;
  }
  .current-title h3 {
    font-size: 40px;
  }
  .current-project-title {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .copyright {
    font-size: 30px;
  }
  .developer {
    font-size: 30px;
  }
}
@media(max-width:1024px) {
  .container {
    width: 90%;
  }
}
@media(max-width:782px) {
  .header-items p {
    font-size: 18px;
  }
}
@media(max-width:768px) {
  .project-header p{
    margin-left: 15px;
  }
  .header-items {
    margin-left: 35px;
  }
  .current-projects {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .current-project-block {
    flex-basis: 48%;
    margin-left: 0;
    margin-top: 20px;
  }
  .current-title {
    margin-top: 35px;
  }
  .footer-line {
    margin-top: 40px;
  }
}
@media(max-width:709px) {
  .header-items p {
    font-size: 16px;
  }

  .header-items a {
    font-size: 17px;
  }
}
@media(max-width:665px) {
  .header-items {
    margin-left: 25px;
  }
}
@media(max-width:643px) {
  .header {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .header img {
    margin: auto;
  }
  .header-links {
    margin: auto;
    margin-top: 15px;
  }
}
@media(max-width:721px) {
  .project-header p {
    margin-left: 0;
  }
}
@media(max-width:491px) {
  .header-items p{
    font-size: 15px;
  }
}
@media(max-width:469px) {
  .header-items p {
    font-size: 13px;
  }
}
@media(max-width:426px) {
  .header {
    margin-bottom: 75px;
    margin-top: 25px;
  }
 
  .header-links {
    margin-top: 20px;
  }
  .header-items {
    margin-left: 20px;
  }
  .header-items p {
    font-size: 13px;
  }
  .featured-section {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .project-block {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 25px;
  }
  .footer-line {
    margin-top: 20px;
  }
  .footer-text {
    flex-direction: column;
  }
  .copyright {
    font-size: 15px;
  }
  .developer {
    font-size: 15px;
    margin-top: 5px;
  }
}
@media(max-width:376px) {
  .header {
    margin-bottom: auto;
  }
 .hamburger {
   display: block;
 }
 .header img {
   width: fit-content;
   margin: 0;
 }
 .header-links {
   display: none;
 }

  /* .header {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 260px;
  } */
  .header-links {
    flex-wrap: wrap;
  }
  .header-items {
    flex-basis: 47%;
    margin-left: 0;
    margin-top: 15px;
  }
  .header-items p{
    font-size: 25px;
  }
  .header-items a {
    font-size: 25px;
  }
  .blog {
    display: none;
  }
}